body {
  width: 1920px;
  margin: 0 auto; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.eot");
  src: url("../fonts/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-light.eot");
  src: url("../fonts/raleway-light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light.woff2") format("woff2"), url("../fonts/raleway-light.woff") format("woff"), url("../fonts/raleway-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.eot");
  src: url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.eot");
  src: url("../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-extralight.eot");
  src: url("../fonts/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat-extralight.woff") format("woff"), url("../fonts/montserrat-extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.header {
  width: 1920px;
  height: 1024px;
  background-image: url(../img/header-bg.png); }

.header-menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  height: 60px; }

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: #fff;
  margin-right: 219px; }

.header-logo:hover {
  color: #c7b299; }

.header-logo-svg {
  fill: currentColor; }

.header-logo-txt {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-align: right;
  line-height: 56px;
  text-transform: capitalize; }

.header-menu {
  margin-right: 63px; }

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  color: #fff;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize; }

.header-menu-item {
  margin-right: 30px; }

.header-menu-item:last-child {
  margin-right: 0px; }

.header-menu-item:hover {
  color: #c7b299; }

.header-cart-btn {
  background-color: transparent;
  height: 24px;
  border: none;
  padding: 0;
  color: #fff;
  margin-right: 28px; }

.header-cart-svg {
  fill: currentColor; }

.header-cart-btn:hover {
  color: #c7b299; }

.header-search-form {
  width: 24px;
  height: 24px;
  position: relative; }

.header-search-btn-label {
  width: 100%;
  height: 100%;
  display: block; }

.header-search-btn-svg {
  width: 100%;
  height: 100%;
  fill: #fff; }

.header-search-btn-svg:hover {
  fill: #c7b299; }

.header-search-btn-input {
  width: 0;
  height: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  top: 30px;
  left: -125px; }

.header-search-btn-input:focus {
  width: 150px;
  min-height: 24px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
  line-height: 24px;
  color: #fff; }

.header-search-btn-input:focus ~ .head-search-btn-label > .head-search-btn-svg {
  fill: #c7b299; }

.carusel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 924px; }

.carusel-block-wrp {
  margin: 285px 150px 327px;
  width: 1620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.carusel-arrow-r {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.carusel-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff; }

.carusel-content-unique {
  display: block;
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  padding-bottom: 14px; }

.carusel-content-portfolio {
  display: block;
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  padding-bottom: 20px; }

.carusel-content-txt {
  display: block;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  width: 562px;
  padding-bottom: 50px; }

.carusel-content-btn {
  margin: 0 auto;
  display: block;
  line-height: 53px;
  width: 170px;
  height: 53px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff; }

.carusel-content-btn-name {
  font-family: 'raleway', 'helvetica', 'arial', sans-serif;
  font-weight: 800;
  font-style: normal; }

.carusel-block-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98px;
  height: 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.carusel-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  border: 2px solid transparent; }

.carusel-pagination-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 2px solid #fff;
  background-color: transparent; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.services-item {
  width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 89px 33px 80px 0;
  color: #555555; }

.services-item:last-child {
  margin: 89px 0 80px; }

.services-item:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end; }

.services-item:hover:after {
  background-color: #c7b299; }

.services-item:hover {
  color: #c7b299; }

.services-item:hover .services-item-name {
  color: #c7b299; }

.services-item-svg {
  fill: currentColor;
  margin: 0 auto; }

.services-item-name {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  display: block;
  color: #555555;
  text-align: center;
  padding: 29px 0 24px;
  text-transform: capitalize; }

.services-item-txt {
  text-align: center;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #8c8c8c;
  margin: 0;
  padding: 0 0 30px; }

.screenshots {
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.screenshots-name {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #555;
  margin: 0 0 24px;
  text-align: center; }

.screenshots-txt {
  margin: 0 auto 40px;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
  text-align: center;
  width: 760px; }

.screenshots-block {
  margin: 0 auto;
  background-image: url(../img/browser-center.png), url(../img/browser-left.png), url(../img/browser-right.png);
  height: 482px;
  width: 1230px;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
  background-size: 62%, 61%, 61%; }

.purchase {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 376px; }

.purchase-name {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  color: #fff; }

.purchase-name-brand {
  color: #c7b299; }

.purchase-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  color: #615855;
  margin: 8px 0 0; }

.purchase-btn {
  margin: 0;
  display: block;
  line-height: 53px;
  width: 170px;
  height: 53px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff; }

.purchase-btn-txt {
  font-family: 'raleway', 'helvetica', 'arial', sans-serif;
  font-weight: 800;
  font-style: normal; }
