@media (max-width: 480px) {
    body{
        margin: 0 auto;
    }

    .container{
        width: 100%;
    }

    .header{
        width: 100%;
        height: auto;
    }

    .header-menu-block{
        padding: 40px 10px;
        justify-content: space-between;
    }

    .header-logo{
        margin: 0;
    }
    .header-menu{
        display: none;
    }

    .services{
        flex-wrap: wrap;
    }

    .services-item{
        width: 46%;
        margin: 2%;
    }

    .services-item:last-child {
    margin: 2%;
}

    .screenshots{
        display: none;
    }

    .purchase{
        display: none;
    }

    .latest-name{
        margin: 40px 0;
    }

    .latest-txt{
        width: 100%;
    }

    .latest-menu{
        flex-wrap: wrap;
    }

    .latest-menu-item{
        margin: 2%;
    }
    .latest-block-wrp{
        width: 100%;
    }

    .latest-block{
        width: 96%;
        margin: 4%;
    }

    .latest-block:nth-child(3n) {
    margin: 4%;
}

    .latest-block-img{
        width: 100%;
        height: auto;
    }

    .latest-block-item{
        flex-wrap: wrap;
    }

    .latest-block-name{
        width: 100%;
        display: block;
        margin-bottom: 2%;
    }

    .latest-block-txt{
        width: 100%;
    }

    .video{
        display: none;
    }

    .counts{
        display: none;
    }

    .excellent{
        background-position: left bottom;
        background-size: 45%;
        height: auto;
        min-height: 0;
    }

    .excellent-content{
        margin: 0;
    }

    .excellent-name{
        display: block;
        width: 94%;
        margin: 0 auto;
    }

    .excellent-txt{
        margin: 3%;
    }

    .excellent-list{
        width: 45%;
        margin-left: 45%;
    }
    .recent-txt{
        width: 100%;
    }
    .recent-wrp{
        flex-wrap: wrap;
    }

    .recent-block{
        margin: 2%;
    }

    .recent-block:last-child {
    margin: 2%;
}

    .carusel-block{
        display: none;
    }

    .brands{
        flex-wrap: nowrap;
        padding: 2% 0;
        height: auto;
    }

    .brands-link{
        margin: 2%;
    }

    .brands-link:hover {
    transform: scale(1.5);
    transition: transform 1s ease;
}

    .brands-img{
        width: 100%;
        height: auto;
    }


    .footer-top{
        display: none;
    }

    .footer-bottom-list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-bottom-list-item:nth-child(4){
        margin-right: 0;
    }
}
