$width: 1920px;
.container{
    width: $width;
    margin: 0 auto;
}

@import 'mixins.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'mobile.scss';
